**/.ipynb_checkpoints/ # Jupyter checkpoint files
data/**/*              # Ignore all files and subdirectories within any directory under data/
!data/**/              # But don't ignore the directories themselves (allow empty directories to be tracked)
!data/**/.gitkeep      # And specifically don't ignore .gitkeep files (used to preserve empty directory structure)
*.nc                   # Ignore large NetCDF data files
